body {
    background-color: #FF9D76;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #51EAEA;
    padding: 2rem;
    border-radius: 3rem;
}

#display {
    padding: 1rem;
    background-color: #FFFDE1;
}

button {
    width: 4em;
    height: 4em;
    color: #FFFDE1;
    background-color: #FB3569;
    border: 0px;
    border-radius: 0.7rem;
    margin: 0.1rem;
}