body {
    background-color: #FF9D76;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #51EAEA;
    padding: 1.2rem;
    border-radius: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-width: 18.35rem;
}

#display,
button {
    background-color: #FFFDE1;
    font-family: 'Share Tech Mono', 'Courier New', Courier, monospace;
}

#display {
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1.1rem;
    font-weight: 600;
    font-size: 2.3rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    text-align: right;
}

button {
    width: 4rem;
    height: 4rem;
    background-color: #FB3569;
    border: 0px;
    border-radius: 1rem;
    margin: 0.2rem;
    font-size: 2rem;
    color: #FFFDE1;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #ff5683;
}

button:active {
    transform: scale(0.95);
    
}

.digitsAndOperators {
    margin-bottom: 1rem;
}

.groupOf2 {
    display: flex;
    justify-content: space-between;
}
